.container {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

.intro {
    min-height: 50vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title span {
    display: block;
    min-height: 1.1em;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

.reverse {
    grid-template-columns: 1fr 1fr;
}

.textHolder {
    max-width: 37.5vw;
    margin: 0 auto;
}

.imageHolder {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20vw;
    margin: 0 auto;
    position: relative;
}

.imageHolder img {
    filter: none !important;
    background-size: 135px !important;
    background-repeat: no-repeat !important;
    background-position: center;
}

.projects h2,
.skills h2,
.socials h2 {
    font-size: 1.75rem;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.projects h3,
.skills h3 {
    font-size: 1.25rem;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.project h3 {
    font-size: 2.25rem;
    margin-bottom: 10px;
}

.project h4.date {
    margin-bottom: 20px;
    font-style: italic;
}

.projects h4 {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.projects h3 a,
.projects h3 a:visited {
    color: black;
}

.description a,
.projects a,
.clickable span {
    font-weight: 500;
    cursor: pointer;
}

.projects p {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.strip {
    overflow: scroll;
}

.strip::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.strip .bgWrap {
    position: relative;
    overflow: hidden;
    padding: 35vh;
}

.skillsHolder {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (max-width: 1000px) {
    .textHolder {
        max-width: 100%;
    }
    .textHolder {
        padding: 4rem;
        padding-left: 0;
    }
    .reverse .textHolder {
        padding: 4rem;
        padding-right: 0;
    }
}

@media (max-width: 750px) {
    .container {
        margin-top: 50px;
    }
    .intro {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .intro .greeter {
        text-align: center;
        margin-bottom: 20px;
        line-height: 1.25;
    }
    .project img {
        background-image: none !important;
    }
    .project {
        overflow: hidden;
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .imageHolder {
        padding: 70vw !important;
        margin-left: -20vw;
        z-index: -1;
    }
    .imageHolder.gif {
        padding: 50vw !important;
        margin-left: 0 !important;
    }
    .reverse {
        display: block;
    }
    .textHolder {
        padding: 0 !important;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

.socials .holder {
    max-width: 300px;
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.socials img,
.socials h2 {
    text-align: center;
}

.footer {
    width: 50%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
